@use '../../../scss/helpers' as *;

:root {
    --inputBgColor: #DEDEDE;
}

.overlay {
    flex: 0 0 600px;
    width: 100%;

    @include tablet {
        flex: 0 0 rem(400);
    }

    @include mobile-l {
        flex: auto;
    }
}

.search {
    background-color: var(--inputBgColor);
    color: var(--color-dark);
    border: none;
    padding: rem(12) rem(16);
    border-radius: rem(8);
    width: 100%;
    padding-left: rem(32);
    font-size: rem(16);

    &::placeholder {
        color: var(--color-dark);
    }
}

.fieldset {
    border: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.form {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
}

.icon {
    position: absolute;
    top: 0;
    bottom: 0;
    left: rem(8);
    width: rem(16);
    height: 100%;
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    padding: 0;

    @include hover {
        color: var(--color-blue);
    }
}