@use '../../../scss/helpers' as *;

.section {
  margin-top: rem(12);
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: rem(28);

  margin-bottom: rem(1000);

  @include mobile-l {
    row-gap: rem(10);
  }
}

.window {
  overflow-x: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  width: 100%;
  display: flex;
  column-gap: rem(16);
  scroll-snap-type: x mandatory;
  scroll-snap-align: start;

  &::-webkit-scrollbar {
    display: none;
  }
}

.item {
  width: rem(200);
  flex-shrink: 0;

  @include hover {
    .card {
      background-color: var(--color-blue);
    }
  }

  @include mobile-l {
    width: rem(100);
  }

  &Text {
    @include fluid-text(20, 16);
    font-weight: 300;
  }
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-blue-light);
  border-radius: rem(8);
  height: rem(211);
  padding: rem(12);
  transition: background-color var(--transition-duration) ease;

  @include mobile-l {
    height: rem(128);
  }
}

.image {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  object-fit: contain;
  display: block;
}

.link {
  text-decoration: none;
  flex-direction: column;
  width: 100%;
  text-align: center;
  row-gap: rem(16);
}

.overlay {
  position: relative;
  width: 100%;
}

.rightArrow {
  right: rem(24);

  @include mobile-l {
    right: 0;
  }
}

.leftArrow {
  left: rem(24);

  @include mobile-l {
    left: 0;
  }
}
