@use '../../../scss/helpers' as *;

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: rem(17);
    width: 100%;
    margin-bottom: rem(40);

    @include mobile-l {
        flex-direction: column;
        justify-content: start;
        row-gap: rem(24);
        margin-bottom: rem(10);
    }
}