@use '../../../scss/helpers' as *;

.card {
    display: flex;
    flex-direction: column;
    row-gap: rem(20);
    max-width: rem(220);

    @include mobile-l {
        row-gap: rem(10);
        max-width: rem(144);
    }
}

.wrapper {
    position: relative;
    display: flex;
    align-self: center;
    min-height: rem(235);

    @include mobile-l {
        min-height: rem(138);
    }
}

.image {
    width: rem(170);
    flex-shrink: 0;

    @include mobile-l {
        width: rem(100);
    }
}

.sale {
    position: absolute;
    right: 0;
    top: 0;
    padding: rem(12);
    background-color: var(--color-yellow);
    border-radius: rem(8);
}

.name {
    margin: 0;
}

.prices {
    display: flex;
    align-items: end;
    justify-content: space-between;
}

.currentPrice {
    @include fluid-text(20, 18);
    font-weight: 500;
}

.previousPrice {
    font-size: rem(18);
    font-weight: 300;
    text-decoration: line-through;
    color: var(--color-gray);
}

.actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inStock {
    color: var(--color-green);
}

.notInStock {
    color: var(--color-gray);
}

.inStock, .notInStock {
    font-size: rem(14);
    font-weight: 300;
}