@use 'helpers' as *;

.container {
    max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
    margin-inline: auto;
    padding-inline: var(--container-padding-x);
}

.visually-hidden {
    @include visually-hidden;
}

.logo {
    color: transparent;
    background-clip: text;
    background-image: var(--logo-gradient);
    font-family: var(--font-family-accent);
    font-size: rem(28);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}